*{
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url(images/background_base.png);
}

h1 {
    margin-top: -60px;
    margin-bottom: 1px;
    font-family: 'Playfair Display SC', serif;
    font-size: 3vw;
    color: #fff;
    white-space: nowrap;
    text-align: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: 'Oswald', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
    padding-left: 25px;
}

<<<<<<< HEAD
html {
    scroll-behavior: smooth;
}
=======
h3 {
    margin-top: 15px;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #000;
}

h4 {
    display: inline-block;
    padding: 100px;
    text-align: center;
}

.header {
    background-image: url(images/home_fields.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px #111;
    border-radius: 25px;
    color: #fff;
    width: auto;
    height: 8vw;
    overflow: hidden;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

hr.solid {
    border-top: 1px solid #fff;
    width: 35%;
}


>>>>>>> julia-branch

/*****       SCROLLBAR        *****/
::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #000;
}
 
::-webkit-scrollbar-thumb {
    border-radius:10px;
    background:#a09769;
    background-clip:padding-box;
}

::-webkit-scrollbar-thumb:hover {
    background: #dfccb3;
}



/*****       NAVIGATION        *****/
.navpanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.navpanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: 'Playfair Display SC', serif;
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.navpanel a:hover {
    color: #f1f1f1;
}

.navpanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
}

.openbtn {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 36px;
    cursor: pointer;
    background-color: #111;
    box-shadow: 2px 2px #fff;
    color: white;
    padding: 8px 15px;
    border-radius: 100px;
    border: 2px solid #111;
}

.openbtn:hover {
    background-color: #624129;
    border: 2px solid #624129;
}



/*****       LANDING SECTION        *****/
.header_home {
    background-image: url(images/home_fields.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px #111;
    border-radius: 25px;
    color: #fff;
    width: auto;
    height: 425px;
    overflow: hidden;
}

#history_table {
    margin-top: 10px;
    display: block;
    table-layout: fixed;
    z-index: 1;
    max-width: 900px;
    max-height: 300px;
}

#history_table tr td:first-child {
    width: auto;
}

#history_table tr td:last-child {
    font-size: 15px;
    text-align: justify;
    padding: 0px 30px 0px 30px;
    background-color: rgba(244, 228, 206, 0.2);
    border-radius: 40px;
    color: #fff;
}

.promo-container {
    margin-top: 15px;
    width: 100%;
    align-items: start;
    display: grid;
    grid-gap: 20px;
    grid-template: auto / auto auto auto;
    justify-content: center;
}

<<<<<<< HEAD
/*****       GO TO TOP SECTION        *****/
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: dimgray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#topBtn:hover {
  background-color: gray;
}

=======
.promo {
    background-color: #333;
    width: 27vw;
    height: 24vh;
    border-radius: 20px;
    box-shadow: 5px 5px #f1e1cd;
    color: #f9eddf;
    padding: 24px;
    text-align: center;
}

.promo:first-child {
    background-image: url(images/home_promo1.png);
    background-size: cover;
    background-position: center;
}

.promo:nth-child(2) {
    background-image: url(images/background_map3.png);
    background-size: cover;
    background-position: center;
}

.promo:last-child {
    background-image: url(images/home_promo3.png);
    background-size: cover;
    background-position: center;
}

.promo p {
    font-weight: 600;
    text-shadow: 2px 2px #333;
}

.promo a {
    background-color: rgba(243, 215, 183, 0.8);
    border-radius: 50px;
    color: #333;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: color 0.3 ease;
}

.promo a:hover {
    background-color: rgb(243, 215, 183);
}

.showcase-container {
    margin: 20px 0 40px 0;
    background-image: url(images/background_map1.png);
    background-position: center;
    background-size: cover;
    box-shadow: 5px 5px #111;
    border-radius: 25px;
    color: #fff;
    width: auto;
    height: 340px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
    display: inline-block;
    position: relative;
    width: auto;
    height: 300px;
    margin-top: 20px;
    margin-left: 300px;
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 300px);
    opacity: 0;
    animation: display;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

img:nth-child(2) {
    animation-delay: 5s;
}



>>>>>>> julia-branch
/*****       MENU SECTION        *****/
.page-content {
	 display: grid;
	 grid-gap: 1rem;
	 padding: 1rem;
	 max-width: 2024px;
	 margin: 0 auto;
	 font-family: var(--font-sans);
}
 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .page-content {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .card {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 0rem;
	 width: 100%;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
	 .card {
		 height: 350px;
	}
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card:nth-child(1):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_vw2tt9xt94.jpg);
}
 .card:nth-child(2):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_raa77yauce.jpg);
}
 .card:nth-child(3):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19K21_r2322wk5ff.jpg);
}
 .card:nth-child(4):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_iamiz3ribd.jpg);
}
 .card:nth-child(5):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_5pqypu9fd2.jpg);
}
 .card:nth-child(6):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_wbq92vtzzb.jpg);
}
 .card:nth-child(7):before {
	 background-image: url(https://www.dingtea.com/upload/fac_m_list_pic/enL_fac_m_19L22_6v56rgwbqk.jpg);
}

 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: var(--font-serif);
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 background-color: black;
	 border: none;
}
 .btn:hover {
	 background-color: #0d0d0d;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}
 @media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}

.rowTeas {
  display: flex;
  padding-left: 15px;
}

.columnTeas {
  flex: 25%;
}

.single_menu {
    position: relative;
    margin-bottom: 75px;
    transition: .3s;
}
.single_menu:hover img{
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);
clip-path: polygon(0% 0%, 100% 0, 100% 50%, 100% 100%, 0% 100%);

}
.single_menu img {
    width: 30%;
    position: absolute;
    object-fit: cover;
    height: 140px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    transition: .3s;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.menu_content {
    padding-left: 33%;
    padding-right: 5%;
}
.menu_content h4 {
    font-size: 25px;
    font-weight: 300;
    border-bottom: 1px dashed #b4b3b2;
    line-height: 2;
    text-transform: capitalize;
}
.menu_content h4 span {
    font-size: 25px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #e0ba71;
}
.menu_content p {
    margin-top: -15px;
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;
}
.menu_btn.btn.btn-danger {
    margin: 0 auto;
    display: block;
    width: 140px;
}